nav.navbar(style="background-color: #f7bd28")
    .container
        .navbar-brand
            a.navbar-item
                img(src='https://www.yevoapp.com/assets/images/yevo-logo-191x66.png')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x